.home-container > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.home-container {
  scroll-behavior: smooth;
}

.marketing h2 {
    font-size: 60px;
    line-height: 120px;
    color: white;
}

#decale {
    margin-left: 120px;
}

.arrow-down a{
    font-weight: bold;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    background-color: white;
    border-radius: 10px;
    color: #D84A3B;
    font-size: 40px;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    -webkit-box-shadow: 4px 10px 65px 0px rgba(216,74,59,0.73);
    -moz-box-shadow: 4px 10px 65px 0px rgba(216,74,59,0.73);
    box-shadow: 4px 10px 65px 0px rgba(216,74,59,0.73);
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/** home second page */

.search-bar {
  display: flex;
  flex-direction: column;
  background-color: #22282c;
  padding: 50px 50px;
}

.auto-complete-container {
  width: 100%
}

.input-and-btn input {
  width: 60%;
  padding-left: 15px;
  height: 60px;
  color: white;
}

.input-and-btn {
  display: flex;
  justify-content: center;
}

/* #main-search-bar {
  width: 40%;
  height: 60px;
} */

.btn-search {
  margin-left: 30px;
  height: 60px; 
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #D84A3B;
}

#home-second-page > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh
}

/* .home-second-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
} */

#home-second-page > .container > form {
  -webkit-box-shadow: 1px 0px 34px 12px rgba(34,40,44,0.62);
  -moz-box-shadow: 1px 0px 34px 12px rgba(34,40,44,0.62);
  box-shadow: 1px 0px 34px 12px rgba(34,40,44,0.62);
  width: 100%
}

#style-span {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #D84A3B
}

.marketing-question {
  font-size: 40px;
  color: white;
  margin-bottom: 80px;
}