.form-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-area form {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #22282c;
    padding-top: 20px;
    padding-bottom: 40px;
    -webkit-box-shadow: 1px 0px 34px 12px rgba(34,40,44,0.62);
    -moz-box-shadow: 1px 0px 34px 12px rgba(34,40,44,0.62);
    box-shadow: 1px 0px 34px 12px rgba(34,40,44,0.62);
}

.form-area input {
    width: 35%;
    margin-bottom: 20px;
    color: white;
    padding-left: 15px;
}

.form-area label {
    font-size: 22px
}

.form-area button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #D84A3B;
    border: none;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
}

.form-area span {
    color: white;
}

.form-area span a{
    color: #D84A3B;
}