a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar .container {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    /* border-bottom: 1px solid #354147; */
    padding: 20px
}

.navbar {
    border-bottom: 1px solid #354147;
}

.menu  {
    display: flex;
    justify-content: space-between;
}

.link {
   margin-left: 20px;
   color: white;
   border: 1px solid #354147;
   padding: 10px 30px;
   border-radius: 20px
}

.link:hover {
    border-color: #D84A3B;
    color: #D84A3B
}

.link-span {
    cursor: pointer;
}