a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar .container {
    display: flex;
    align-items: center;
    color: white;
}

.navbar {
    /* background-color: #282727; */
    height: 70px;
    border: 1px solid white;
    display: flex;
    align-items: center;
}

.menu  {
    display: flex;
    justify-content: space-between;
}

.menu a {
   margin-left: 20px;
   color: white;
}