
.recipes-container {
  display: flex;
  width: 98vw;
  flex-wrap: wrap;
  margin-top: 3%;
}
.recipes-element {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
  margin-left: 2vw;
  width: 20%;
  background-color: #22282c;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 1vw;
  margin-bottom: 5vw;

  -webkit-box-shadow: 1px 0px 34px 12px rgba(34, 40, 44, 0.62);
  -moz-box-shadow: 1px 0px 34px 12px rgba(34, 40, 44, 0.62);
  box-shadow: 1px 0px 34px 12px rgba(34, 40, 44, 0.62);
}
