.recipe-card img {
  height: 12vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
}
.recipe-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 0 !important;
  justify-content: center;
}
.favorite-icon {
  display: flex;
  justify-content: flex-end;
}
.recipe-card h3 {
  color: white;
  padding-bottom: 5vh;
  padding-left: 1vw;
  height: 8vh;
}
.recipe-card p {
  color: grey;
  font-weight: bold;
}

.recipe-card button {
  padding: 10px 10px !important;
  margin-top: 0px !important;
  border-radius: 10px;
  border: none;
  background-color: #22282c;
}

.timer-icon {
  margin-right: 20px;
  padding-left: 1vw;
}
.timing-line {
  display: flex;
  align-self: flex-end;
}
