form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

label {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
}

input {
  border-radius: 5px;
  height: 40px;
  background-color: #354147;
  border: none;
  color: white;
  padding-left: 15px;
}

.button {
  padding: 20px 20px;
  background-color: #d84a3b;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
}

.form-section {
  background-color: #22282c;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 40px;
  -webkit-box-shadow: 1px 0px 34px 12px rgba(34, 40, 44, 0.62);
  -moz-box-shadow: 1px 0px 34px 12px rgba(34, 40, 44, 0.62);
  box-shadow: 1px 0px 34px 12px rgba(34, 40, 44, 0.62);
}

.form-section h2 {
  margin: 0;
  padding: 0;
  color: #d84a3b;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1c2023;
  font-weight: normal;
}
.icon-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #354147;
}
.icon-avatar img {
  max-width: 50%;
}
